extends ../layouts/default

block title
  title Líderes sociales | Datasketch

block main
  .counter.column.centered.background(style="background-image: url(/images/site/banner.jpg)")
    .container.container_sm
      h1.counter__number 0
      p.counter__description líderes sociales en Colombia han sido asesinados desde el primero de Enero de 2016. Conoce más sobre ellos.
    a#chevron(href="#content"): span.fa.fa-chevron-down
  #content
    .container.container_sm
      h1.content__title.text-center Líderes sociales
      p.content__subtitle Cada 3 días es asesinado un líder social en Colombia. Mientras las denuncias aumentan, el Gobierno se mantiene en su teoría de que son casos aislados. Cada vez se cuentan más víctimas, cada día la impunidad continúa.
      section.leaders
        each leader in data.leaders
          .leader
            .leader__photo
              img(src=leader._.image.thumbnail(100, 100, { secure: true, gravity: 'face', zoom: 0.7 }), alt=leader.name)
            .leader__info
              h3.leader__name= leader.name
              p.leader__bio !{leader.bio.md}
        .download
          a.button.button_blue(href="https://docs.google.com/spreadsheets/d/1I9NHXhAPSzruE5s94_X5FQpRMksz6MTHgLCgrTviqfM/edit#gid=0", style="display: block", target="_blank", rel="noopener noreferrer") Todos los líderes asesinados
      section.stats !{data.stats.content.html}
    section.app
      iframe#iframe(src="https://randommonkey.shinyapps.io/specials_derechos_humanos/", frameborder="0")
    .container.container_sm
      section
        h2.content__title Historias
        .stories
          each storie in data.stories
            - var date = moment(storie.publishedDate).locale('es').format('MMMM DD, YYYY')
            article.storie
              .storie__image
                img(src=storie._.image.thumbnail(720, 405, { secure: true }))
              .storie__info.column.justify-between
                div
                  h3.storie__title #{storie.title}
                  small #{date.charAt(0).toUpperCase() +  date.substr(1)}
                  .storie__brief !{storie.content.brief.html}
                a.button.button_blue.item-end(href=`/post/${storie.slug}`) Seguir leyendo
block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.2/tabletop.min.js")
  script(src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moveTo/1.7.3/moveTo.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.1/iframeResizer.min.js")
  script(src="/js/views/index.js")