extends ../layouts/default

block title
  title Líderes sociales | Datasketch

block main
  .counter.column.centered.background(style="background-image: url(/images/site/banner.jpg)")
    .container.container_sm
      h1.counter__number 699
      p.counter__description líderes sociales en Colombia han sido asesinados desde el primero de Enero de 2016. Conoce más sobre ellos.
    a#chevron(href="#content"): span.fa.fa-chevron-down
  #content
    .container.container_sm
      h1.content__title.text-center Líderes sociales
      p.content__subtitle Cada 3 días es asesinado un líder social en Colombia. Mientras las denuncias aumentan, el Gobierno se mantiene en su teoría de que son casos aislados. Cada vez se cuentan más víctimas, cada día la impunidad continúa.
      section.leaders
        each leader in data.leaders
          .leader
            .leader__photo
              img(src=leader._.image.thumbnail(100, 100, { secure: true, gravity: 'face', zoom: 0.7 }), alt=leader.name)
            .leader__info
              h3.leader__name= leader.name
              p.leader__bio !{leader.bio.md}
        .download
          a.button.button_orange(href="https://www.datasketch.co/datasketch/lideres-sociales-asesinados-en-colombia-desde-enero-de-2016-a-junio-de-2020", style="display: block", target="_blank", rel="noopener noreferrer") Todos los líderes asesinados
    //- section.sponsored.column.centered
    //-   .container.sponsored__container
    //-     .campaign.column.centered
    //-       p.text-center ¡Los colombianos y las colombianas tenemos derecho a saber qué pasa con los líderes sociales!
    //-       a.item-center.button.button_yellow(href="http://www.elavisperomov.org/nuestroslideres" target="_blank" rel="noopener noreferrer") Apoya esta campaña
    //-     .calendar
    //-       h3.calendar__header Próximos eventos
    //-       .calendar__events
    //-         p.text-center Cargando eventos...
    .container.container_sm
      section.stats
        p
          | Los datos recolectados de los líderes sociales asesinados desde el 2016 hasta hoy
          em (fecha de corte: 25 de julio de 2019),
          | tienen ciertos aspectos destacables como el tipo de liderazgo y el lugar del crímen. Aquí les presentamos un resumen estadístico de las víctimas.
        h3 Departamentos con más líderes asesinados
        p El departamento del Cauca es el que más presenta número de víctimas. Desde el 2016, en este departamento han sido asesinados 118 líderes. El único departamento que le sigue es Antioquia, con 75 líderes. La situación del Cauca se agrava por la presencia de bandas criminales, minería ilegal y cultivos ilícitos.
        .iframe-container
          iframe(src="https://datasketch.shinyapps.io/barrasLideres/", frameborder="0")
        p Además, se puede decir que donde más se han presentado asesinatos a líderes sociales es en la Región Pacífica que comprende los departamentos de Nariño, Cauca, Valle del Cauca, Chocó, Antioquia y Córdoba.
        //- .iframe-container
        //-   iframe(src="https://datasketch.shinyapps.io/lideres-app/", frameborder="0")
        h3 Municipios con más líderes asesinados
        p El municipio con más líderes asesinados es Tumaco, ubicado en el departamento de Nariño, en este hay presencia de bandas criminales, minería ilegal y cultivos ilícitos, que agravan el conflicto. Los siguientes son Corinto y Caloto en Cauca.
        .iframe-container
          iframe(src="https://datasketch.shinyapps.io/barMun/", frameborder="0")
        h3 Tipos de líderes que más asesinan
        p La mayoría de los líderes asesinados son aquellos que por sus labores de liderazgo defienden más de una causa, como es el caso de los líderes comunitarios, que a la vez son líderes campesinos o agrarios, entre otros Le siguen aquellos que pertenecen o son directivos de Juntas de Acción Comunal o Juntas Administradoras Locales.
        .iframe-container
          iframe(src="https://datasketch.shinyapps.io/tipoLider/", frameborder="0")
        h3 El histórico de víctimas
        p El mes con más víctimas ha sido julio de 2018, con 33 asesinatos, seguido de enero de 2017 con 29 víctimas que conmocionaron al país a tal punto que se realizaron marchas y manifestaciones en contra de esta violencia sistemática.
        .iframe-container
          iframe(src="https://datasketch.shinyapps.io/lineasLider/", frameborder="0")
        h3 Estas son cada una de las víctimas que ha registrado Datasketch desde 2016.
    section.app
      iframe#iframe(src="https://datasketch.shinyapps.io/lideres-app/", frameborder="0")
    .container.container_sm
      section
        h2.content__title Historias
        .stories
          each storie in data.stories
            - var date = moment(storie.publishedDate).locale('es').format('MMMM DD, YYYY')
            article.storie
              .storie__image
                img(src=storie._.image.thumbnail(720, 405, { secure: true }))
              .storie__info.column.justify-between
                div
                  h3.storie__title #{storie.title}
                  small #{date.charAt(0).toUpperCase() +  date.substr(1)}
                  .storie__brief !{storie.content.brief.html}
                a.button.button_orange.item-end(href=`/post/${storie.slug}`) Seguir leyendo
block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.2/tabletop.min.js")
  script(src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moveTo/1.7.3/moveTo.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.1/iframeResizer.min.js")
  script(src="/js/views/index.js")
