extends ../layouts/default

block title
  title Líderes sociales | Datasketch

block main
  .counter.column.centered
    .container.container_sm
      h1.counter__number 0
      p.counter__description Líderes sociales han sido asesinados desde la firma de los acuerdos de paz
    a#chevron(href="#content"): span.fa.fa-chevron-down
  #content
    .container.container_sm
      h1.content__title.text-center Líderes sociales
      p.content__subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, ullam a. Possimus sapiente neque rerum doloribus, maiores cumque ullam cupiditate provident recusandae quos quaerat minima dignissimos magnam culpa nemo ipsa distinctio. Provident, itaque? Dolorem ipsum, quibusdam neque autem nostrum ea facere. Fuga quo veniam temporibus nemo non quae officia quod.
      section.leaders
        each leader in data.leaders
          .leader
            .leader__photo
              img(src=leader._.image.thumbnail(100, 100, { secure: true, gravity: 'face', zoom: 0.7 }), alt=leader.name)
            .leader__info
              h3.leader__name= leader.name
              p.leader__bio !{leader.bio.md}
        .download
          a.button(href="https://docs.google.com/spreadsheets/d/1I9NHXhAPSzruE5s94_X5FQpRMksz6MTHgLCgrTviqfM/edit#gid=0", style="display: block", target="_blank", rel="noopener noreferrer") Descargar datos
      section.stats !{data.stats.content.html}
      section
        h2.content__title Historias
        .stories
          each storie in data.stories
            article.storie
              .storie__image
                img(src=storie._.image.thumbnail(720, 405, { secure: true }))
              .storie__info.column.justify-between
                div
                  h3.storie__title #{storie.title}
                  .storie__brief !{storie.content.brief.html}
                a.button.button_blue.item-end(href=`/post/${storie.slug}`) Seguir leyendo
block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.2/tabletop.min.js")
  script(src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moveTo/1.7.3/moveTo.min.js")
  script(src="/js/views/index.js")