extends ../layouts/default

block meta
	- var post = data.post
	meta(name="description" content=post.seoDescription.md)

	//- Google / Search Engine Tags
	meta(itemprop="name" content=post.seoTitle)
	meta(itemprop="description" content=post.seoDescription.md)
	meta(itemprop="image" content=post.image.secure_url)

	//- Facebook Meta Tags
	meta(property="og:url" content=`http://lideres-sociales.datasketch.co/post/${post.slug}`)
	meta(property="og:type" content="website")
	meta(property="og:title" content=post.seoTitle)
	meta(property="og:description" content=post.seoDescription.md)
	meta(property="og:image" content=post.image.secure_url)

	//- Twitter Meta Tags
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:title" content=post.seoTitle)
	meta(name="twitter:description" content=post.seoDescription.md)
	meta(name="twitter:image" content=post.image.secure_url)

block title
	title #{data.post.title} | Datasketch

block main
	- var post = data.post
	.post__banner.column.centered.background(style=`background-image: url(${post.image.secure_url})`)
	- var layout = post.layout
	.post__content.container(class=`${layout} ${layout === 'single' ? 'container_sm' : ''}`)
		.post__body(class=`${layout} ${layout === 'split' ? 'container container_sm' : ''}`)
			h1.post__title= post.title
			.post__body_content !{post.content.extended.html}
			if post.copyright.html
				.copyright !{post.copyright.html}
		.post__related
			if post.related.length
				.posts
					h2.post__related__header Noticias Relacionadas
					.articles
						each related in post.related
							a(href=`/post/${related.slug}`).related
								.related__image
									img(src=related._.image.thumbnail(400, 225, { secure: true }))
								.related__info
									h3.related__title #{related.title}
									.related__brief !{related.content.brief.html}
	.container.container_sm#disqus_thread

block js
	script(src="/js/views/post.js")
	script(src="/js/disqus.js")