extends ../layouts/default

block meta
	- var post = data.post
	meta(name="description" content=post.seoDescription.md)

	//- Google / Search Engine Tags
	meta(itemprop="name" content=post.seoTitle)
	meta(itemprop="description" content=post.seoDescription.md)
	meta(itemprop="image" content=post.image.secure_url)

	//- Facebook Meta Tags
	meta(property="og:url" content=`http://lideres-sociales.datasketch.co/post/${post.slug}`)
	meta(property="og:type" content="website")
	meta(property="og:title" content=post.seoTitle)
	meta(property="og:description" content=post.seoDescription.md)
	meta(property="og:image" content=post.image.secure_url)

	//- Twitter Meta Tags
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:title" content=post.seoTitle)
	meta(name="twitter:description" content=post.seoDescription.md)
	meta(name="twitter:image" content=post.image.secure_url)

block title
	title #{data.post.title} | Datasketch

block main
